<%
fromobject = object
fromobject = object.namespace if CodeObjects::Base === fromobject && !fromobject.is_a?(CodeObjects::NamespaceObject)
frompath = serializer.serialized_path(fromobject)
source_path = File.relative_path(frompath, "../browse/#{object.file}")
source_title = object.file
if object.line
  source_path += "#L-#{object.line}"
  source_title += ":#{object.line}"
end
%>
<div class="source">
  <div class="file"><span class="title"><%= source_title %></span> (<%= link_url(source_path, "browse") %>)</div>
  <%= Pygments.highlight(object.source, lexer: object.source_type || :c, options: {linenos: :table, linenostart: object.line}) %>
</div>
